# Setting Up the Database from the comments dump file

In [5]:
import sqlite3
import json
import pandas as pd
from datetime import datetime

In [1]:


timeframe = '2017-11'

sql_transaction = []

connection =sqlite3.connect('{}.db'.format(timeframe))
c= connection.cursor()

In [2]:
def create_table():
  c.execute("""CREATE TABLE IF NOT EXISTS parent_reply
  (parent_id TEXT PRIMARY KEY, comment_id TEXT UNIQUE, parent TEXT,
  comment TEXT, subreddit TEXT, unix INT, score INT)""")

def format_data(data):
  data = data.replace("\n"," newlinechar ").replace("\r", " newlinechar ").replace('"', "'")
  return data

def find_parent(parent_id):
    try:
    
        sql = " SELECT comment FROM parent_reply WHERE comment_id = '{}' LIMIT 1".format(parent_id)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
              return result[0]
        else: return False
    except Exception as e:
        return False

def find_existing_score(pid):
    try:
    
        sql = " SELECT score FROM parent_reply WHERE parent_id = '{}' LIMIT 1".format(parent_id)
        c.execute(sql)
        result = c.fetchone()
        if result != None:
              return result[0]
        else: return False
    except Exception as e:
        return False

def acceptable(data):
    if len(data.split(" ")) > 50 or len(data) < 1:   #might wanna change that to a different value
        return False
    elif len(data)>1000:
        return False
    elif data == "[deleted]" or data == "[removed]":
        return False
    else:
        return True

def sql_insert_replace_comment(commentid, parentid, parent,comment,subreddit, time , score):
    try:
        sql = """ UPDATE parent_reply SET parent_id = ?, comment_id = ?, parent = ?, comment = ?, subreddit = ?
        , unix = ?, score = ? WHERE parent_id =?; """.format(parentid, commentid, parent, comment, subreddit,int(time), score, parentid)
        transaction_bldr(sql)
    except Exception as e:
        print(' replace comment ', str(e))
        
def sql_insert_has_parent(commentid, parentid, parent,comment,subreddit, time , score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, parent, comment, subreddit, unix, score) VALUES 
        ("{}","{}","{}","{}","{}",{},{});""".format(parentid, commentid, parent, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print(' s-PARENT ', str(e))
        
def sql_insert_no_parent(commentid, parentid,comment,subreddit, time, score):
    try:
        sql = """INSERT INTO parent_reply (parent_id, comment_id, comment, subreddit, unix, score) VALUES
        ("{}","{}","{}","{}",{},{});""".format(parentid, commentid, comment, subreddit, int(time), score)
        transaction_bldr(sql)
    except Exception as e:
        print(' s-NOPARENT ', str(e))
def transaction_bldr(sql):
    global sql_transaction
    sql_transaction.append(sql)
    if len(sql_transaction) > 1000:
        c.execute('BEGIN TRANSACTION')
        for s in sql_transaction:
            try:
                c.execute(s)
            except:
                pass
        connection.commit()
        sql_transaction = []

In [4]:
if __name__ == "__main__":
    create_table()
    row_counter = 0
    paired_rows = 0
  
    with open("RC_2017-11", buffering = 1000) as f:
       
        for row in f:
            try:
                row_counter += 1
                row = json.loads(row)
                parent_id = row['parent_id']
                try:
                    comment_id = row['name']
                except KeyError:
                    comment_id = 't1_' + row['id']
                body = format_data(row['body'])
                created_utc = row['created_utc']
                score = row['score']
                subreddit = row['subreddit']
                parent_data = find_parent(parent_id)

                if row_counter % 100000 == 0:
                        print('Total Rows Read: {}, Paired Rows: {}, Time: {}'.format(row_counter, paired_rows, str(datetime.now())))



                if score >= 2 and score !=  None:
                    if acceptable(body):
                        existing_comment_score = find_existing_score(parent_id)
                        if existing_comment_score:
                            if score> existing_comment_score:
                                sql_insert_replace_comment(comment_id, parent_id, parent_data, body, subreddit,created_utc, score)

                        else:
                            if parent_data:
                                sql_insert_has_parent(comment_id, parent_id, parent_data, body, subreddit,created_utc, score)
                                paired_rows+=1
                            else:
                                sql_insert_no_parent(comment_id, parent_id, body, subreddit, created_utc, score)
            except Exception as e:
                pass
#             cleanup = 10000000
#             if row_counter > start_row:
#                 if row_counter % cleanup == 0:
#                     print("Cleaning up!")
#                     print("Turning journal off temporarily...")
#                     c.execute("PRAGMA journal_mode = OFF")
#                     print("Deleting null parent rows...")
#                     sql = "DELETE FROM parent_reply WHERE parent IS NULL"
#                     c.execute(sql)
#                     print("committing changes")
#                     connection.commit()
#                     print("vacuuming...")
#                     c.execute("VACUUM")
#                     print("committing...")
#                     connection.commit()
#                     print("Turning journal back on (\"MEMORY\" mode)...")
#                     c.execute("PRAGMA journal_mode = MEMORY")
#                     connection.commit()
#                     print("Back to loading and processing new rows!\n")

Total Rows Read: 100000, Paired Rows: 0, Time: 2019-01-12 17:06:46.278320
Total Rows Read: 200000, Paired Rows: 0, Time: 2019-01-12 17:07:22.362782
Total Rows Read: 300000, Paired Rows: 0, Time: 2019-01-12 17:07:57.502587
Total Rows Read: 400000, Paired Rows: 0, Time: 2019-01-12 17:08:28.755666
Total Rows Read: 500000, Paired Rows: 0, Time: 2019-01-12 17:08:57.133389
Total Rows Read: 600000, Paired Rows: 0, Time: 2019-01-12 17:09:52.640856
Total Rows Read: 700000, Paired Rows: 0, Time: 2019-01-12 17:10:39.022328
Total Rows Read: 800000, Paired Rows: 0, Time: 2019-01-12 17:11:27.122302
Total Rows Read: 900000, Paired Rows: 0, Time: 2019-01-12 17:12:04.753559
Total Rows Read: 1000000, Paired Rows: 0, Time: 2019-01-12 17:12:42.398051
Total Rows Read: 1100000, Paired Rows: 0, Time: 2019-01-12 17:13:19.897151
Total Rows Read: 1200000, Paired Rows: 0, Time: 2019-01-12 17:14:01.873467
Total Rows Read: 1300000, Paired Rows: 0, Time: 2019-01-12 17:14:47.410572
Total Rows Read: 1400000, Paired Rows: 0, Time: 2019-01-12 17:15:27.969540
Total Rows Read: 1500000, Paired Rows: 0, Time: 2019-01-12 17:16:05.580081
Total Rows Read: 1600000, Paired Rows: 0, Time: 2019-01-12 17:16:44.231050
Total Rows Read: 1700000, Paired Rows: 0, Time: 2019-01-12 17:17:22.935354
Total Rows Read: 1800000, Paired Rows: 0, Time: 2019-01-12 17:18:02.939338
Total Rows Read: 1900000, Paired Rows: 0, Time: 2019-01-12 17:18:47.470507
Total Rows Read: 2000000, Paired Rows: 0, Time: 2019-01-12 17:19:31.118387
Total Rows Read: 2100000, Paired Rows: 0, Time: 2019-01-12 17:20:17.784313
Total Rows Read: 2200000, Paired Rows: 0, Time: 2019-01-12 17:21:01.953795
Total Rows Read: 2300000, Paired Rows: 0, Time: 2019-01-12 17:21:49.369375
Total Rows Read: 2400000, Paired Rows: 0, Time: 2019-01-12 17:22:36.762667
Total Rows Read: 2500000, Paired Rows: 0, Time: 2019-01-12 17:23:18.338503
Total Rows Read: 2600000, Paired Rows: 0, Time: 2019-01-12 17:23:58.299903
Total Rows Read: 2700000, Paired Rows: 0, Time: 2019-01-12 17:24:41.132352
Total Rows Read: 2800000, Paired Rows: 0, Time: 2019-01-12 17:25:19.892455
Total Rows Read: 2900000, Paired Rows: 0, Time: 2019-01-12 17:26:00.293236
Total Rows Read: 3000000, Paired Rows: 0, Time: 2019-01-12 17:26:40.934600
Total Rows Read: 3100000, Paired Rows: 0, Time: 2019-01-12 17:27:22.657613
Total Rows Read: 3200000, Paired Rows: 0, Time: 2019-01-12 17:28:10.337414
Total Rows Read: 3300000, Paired Rows: 0, Time: 2019-01-12 17:28:52.430474
Total Rows Read: 3400000, Paired Rows: 0, Time: 2019-01-12 17:29:37.165793
Total Rows Read: 3500000, Paired Rows: 0, Time: 2019-01-12 17:30:28.744255
Total Rows Read: 3600000, Paired Rows: 0, Time: 2019-01-12 17:31:13.622482
Total Rows Read: 3700000, Paired Rows: 0, Time: 2019-01-12 17:31:52.164244
Total Rows Read: 3800000, Paired Rows: 0, Time: 2019-01-12 17:32:30.741646
Total Rows Read: 3900000, Paired Rows: 0, Time: 2019-01-12 17:33:12.887830
Total Rows Read: 4000000, Paired Rows: 0, Time: 2019-01-12 17:34:25.109728
Total Rows Read: 4100000, Paired Rows: 0, Time: 2019-01-12 21:07:30.151391
Total Rows Read: 4200000, Paired Rows: 0, Time: 2019-01-12 21:11:04.221039
Total Rows Read: 4300000, Paired Rows: 0, Time: 2019-01-12 21:13:03.832583
Total Rows Read: 4400000, Paired Rows: 0, Time: 2019-01-12 21:14:39.109378
Total Rows Read: 4500000, Paired Rows: 0, Time: 2019-01-12 21:16:01.529360
Total Rows Read: 4600000, Paired Rows: 0, Time: 2019-01-12 21:17:06.708605
Total Rows Read: 4700000, Paired Rows: 0, Time: 2019-01-12 21:18:18.124182
Total Rows Read: 4800000, Paired Rows: 0, Time: 2019-01-12 21:19:17.487241
Total Rows Read: 4900000, Paired Rows: 0, Time: 2019-01-12 21:20:07.913581
Total Rows Read: 5000000, Paired Rows: 0, Time: 2019-01-12 21:21:03.786683
Total Rows Read: 5100000, Paired Rows: 0, Time: 2019-01-12 21:21:47.152538
Total Rows Read: 5200000, Paired Rows: 0, Time: 2019-01-12 21:22:28.450031
Total Rows Read: 5300000, Paired Rows: 0, Time: 2019-01-12 21:23:13.872470
Total Rows Read: 5400000, Paired Rows: 0, Time: 2019-01-12 21:23:58.436358
Total Rows Read: 5500000, Paired Rows: 0, Time: 2019-01-12 21:24:39.611839
Total Rows Read: 5600000, Paired Rows: 0, Time: 2019-01-12 21:25:18.287971
Total Rows Read: 5700000, Paired Rows: 0, Time: 2019-01-12 21:25:59.598107
Total Rows Read: 5800000, Paired Rows: 0, Time: 2019-01-12 21:26:38.398299
Total Rows Read: 5900000, Paired Rows: 0, Time: 2019-01-12 21:27:17.819805
Total Rows Read: 6000000, Paired Rows: 0, Time: 2019-01-12 21:27:54.073604
Total Rows Read: 6100000, Paired Rows: 0, Time: 2019-01-12 21:28:28.171050
Total Rows Read: 6200000, Paired Rows: 0, Time: 2019-01-12 21:29:03.919235
Total Rows Read: 6300000, Paired Rows: 0, Time: 2019-01-12 21:29:39.039133
Total Rows Read: 6400000, Paired Rows: 0, Time: 2019-01-12 21:30:10.783980
Total Rows Read: 6500000, Paired Rows: 0, Time: 2019-01-12 21:30:41.375983
Total Rows Read: 6600000, Paired Rows: 0, Time: 2019-01-12 21:31:10.783951
Total Rows Read: 6700000, Paired Rows: 0, Time: 2019-01-12 21:31:38.576990
Total Rows Read: 6800000, Paired Rows: 0, Time: 2019-01-12 21:32:05.053813
Total Rows Read: 6900000, Paired Rows: 0, Time: 2019-01-12 21:32:32.772896
Total Rows Read: 7000000, Paired Rows: 0, Time: 2019-01-12 21:33:01.425722
Total Rows Read: 7100000, Paired Rows: 0, Time: 2019-01-12 21:33:32.498862
Total Rows Read: 7200000, Paired Rows: 0, Time: 2019-01-12 21:34:02.305123
Total Rows Read: 7300000, Paired Rows: 0, Time: 2019-01-12 21:34:33.781241
Total Rows Read: 7400000, Paired Rows: 0, Time: 2019-01-12 21:35:06.234851
Total Rows Read: 7500000, Paired Rows: 0, Time: 2019-01-12 21:35:39.002606
Total Rows Read: 7600000, Paired Rows: 0, Time: 2019-01-12 21:36:13.708446
Total Rows Read: 7700000, Paired Rows: 0, Time: 2019-01-12 21:36:47.367887
Total Rows Read: 7800000, Paired Rows: 0, Time: 2019-01-12 21:37:21.586212
Total Rows Read: 7900000, Paired Rows: 0, Time: 2019-01-12 21:37:57.959519
Total Rows Read: 8000000, Paired Rows: 0, Time: 2019-01-12 21:38:32.595772
Total Rows Read: 8100000, Paired Rows: 0, Time: 2019-01-12 21:39:08.379096
Total Rows Read: 8200000, Paired Rows: 0, Time: 2019-01-12 21:39:43.603346
Total Rows Read: 8300000, Paired Rows: 0, Time: 2019-01-12 21:40:18.807945
Total Rows Read: 8400000, Paired Rows: 0, Time: 2019-01-12 21:40:52.169790
Total Rows Read: 8500000, Paired Rows: 0, Time: 2019-01-12 21:41:24.438028
Total Rows Read: 8600000, Paired Rows: 0, Time: 2019-01-12 21:41:56.782181
Total Rows Read: 8700000, Paired Rows: 0, Time: 2019-01-12 21:42:31.667493
Total Rows Read: 8800000, Paired Rows: 0, Time: 2019-01-12 21:43:06.282017
Total Rows Read: 8900000, Paired Rows: 0, Time: 2019-01-12 21:43:43.655534
Total Rows Read: 9000000, Paired Rows: 0, Time: 2019-01-12 21:44:16.763550
Total Rows Read: 9100000, Paired Rows: 0, Time: 2019-01-12 21:44:52.349557
Total Rows Read: 9200000, Paired Rows: 0, Time: 2019-01-12 21:45:30.221440
Total Rows Read: 9300000, Paired Rows: 0, Time: 2019-01-12 21:46:06.149963
Total Rows Read: 9400000, Paired Rows: 0, Time: 2019-01-12 21:46:42.269763
Total Rows Read: 9500000, Paired Rows: 0, Time: 2019-01-12 21:47:20.336551
Total Rows Read: 9600000, Paired Rows: 0, Time: 2019-01-12 21:47:54.909196
Total Rows Read: 9700000, Paired Rows: 0, Time: 2019-01-12 21:48:29.914462
Total Rows Read: 9800000, Paired Rows: 0, Time: 2019-01-12 21:49:06.481171
Total Rows Read: 9900000, Paired Rows: 0, Time: 2019-01-12 21:49:40.165820
Total Rows Read: 10000000, Paired Rows: 0, Time: 2019-01-12 21:50:13.927463
Total Rows Read: 10100000, Paired Rows: 0, Time: 2019-01-12 21:50:46.508829
Total Rows Read: 10200000, Paired Rows: 0, Time: 2019-01-12 21:51:20.380417
Total Rows Read: 10300000, Paired Rows: 0, Time: 2019-01-12 21:51:55.453230
Total Rows Read: 10400000, Paired Rows: 0, Time: 2019-01-12 21:52:31.769762
Total Rows Read: 10500000, Paired Rows: 0, Time: 2019-01-12 21:53:06.861049
Total Rows Read: 10600000, Paired Rows: 0, Time: 2019-01-12 21:53:43.742394
Total Rows Read: 10700000, Paired Rows: 0, Time: 2019-01-12 21:54:19.468025
Total Rows Read: 10800000, Paired Rows: 0, Time: 2019-01-12 21:54:54.412935
Total Rows Read: 10900000, Paired Rows: 0, Time: 2019-01-12 21:55:30.514856
Total Rows Read: 11000000, Paired Rows: 0, Time: 2019-01-12 21:56:06.063313

Total Rows Read: 11100000, Paired Rows: 0, Time: 2019-01-12 21:56:41.463984
Total Rows Read: 11200000, Paired Rows: 0, Time: 2019-01-12 21:57:17.640513
Total Rows Read: 11300000, Paired Rows: 0, Time: 2019-01-12 21:57:53.841601
Total Rows Read: 11400000, Paired Rows: 0, Time: 2019-01-12 21:58:28.083874
Total Rows Read: 11500000, Paired Rows: 0, Time: 2019-01-12 21:59:06.592635
Total Rows Read: 11600000, Paired Rows: 0, Time: 2019-01-12 21:59:41.150203
Total Rows Read: 11700000, Paired Rows: 0, Time: 2019-01-12 22:00:21.741399
Total Rows Read: 11800000, Paired Rows: 0, Time: 2019-01-12 22:00:56.378788
Total Rows Read: 11900000, Paired Rows: 0, Time: 2019-01-12 22:01:30.203440
Total Rows Read: 12000000, Paired Rows: 0, Time: 2019-01-12 22:02:04.555874
Total Rows Read: 12100000, Paired Rows: 0, Time: 2019-01-12 22:02:40.859166
Total Rows Read: 12200000, Paired Rows: 0, Time: 2019-01-12 22:03:19.709695
Total Rows Read: 12300000, Paired Rows: 0, Time: 2019-01-12 22:03:58.398880
Total Rows Read: 12400000, Paired Rows: 0, Time: 2019-01-12 22:04:36.995305
Total Rows Read: 12500000, Paired Rows: 0, Time: 2019-01-12 22:05:17.640613
Total Rows Read: 12600000, Paired Rows: 0, Time: 2019-01-12 22:05:56.421501
Total Rows Read: 12700000, Paired Rows: 0, Time: 2019-01-12 22:06:35.411304
Total Rows Read: 12800000, Paired Rows: 0, Time: 2019-01-12 22:07:10.634585
Total Rows Read: 12900000, Paired Rows: 0, Time: 2019-01-12 22:07:45.265730
Total Rows Read: 13000000, Paired Rows: 0, Time: 2019-01-12 22:08:19.237366
Total Rows Read: 13100000, Paired Rows: 0, Time: 2019-01-12 22:08:53.782790
Total Rows Read: 13200000, Paired Rows: 0, Time: 2019-01-12 22:09:27.823108
Total Rows Read: 13300000, Paired Rows: 0, Time: 2019-01-12 22:09:59.483248
Total Rows Read: 13400000, Paired Rows: 0, Time: 2019-01-12 22:10:34.410020
Total Rows Read: 13500000, Paired Rows: 0, Time: 2019-01-12 22:11:08.612793
Total Rows Read: 13600000, Paired Rows: 0, Time: 2019-01-12 22:11:42.867728
Total Rows Read: 13700000, Paired Rows: 0, Time: 2019-01-12 22:12:19.735258
Total Rows Read: 13800000, Paired Rows: 0, Time: 2019-01-12 22:12:54.415229
Total Rows Read: 13900000, Paired Rows: 0, Time: 2019-01-12 22:13:30.801146
Total Rows Read: 14000000, Paired Rows: 0, Time: 2019-01-12 22:14:08.666088
Total Rows Read: 14100000, Paired Rows: 0, Time: 2019-01-12 22:14:47.249671
Total Rows Read: 14200000, Paired Rows: 0, Time: 2019-01-12 22:15:26.720634
Total Rows Read: 14300000, Paired Rows: 0, Time: 2019-01-12 22:16:09.057517
Total Rows Read: 14400000, Paired Rows: 0, Time: 2019-01-12 22:16:49.762157
Total Rows Read: 14500000, Paired Rows: 0, Time: 2019-01-12 22:17:30.359306
Total Rows Read: 14600000, Paired Rows: 0, Time: 2019-01-12 22:18:15.411441
Total Rows Read: 14700000, Paired Rows: 0, Time: 2019-01-12 22:18:57.488576
Total Rows Read: 14800000, Paired Rows: 0, Time: 2019-01-12 22:19:40.767737
Total Rows Read: 14900000, Paired Rows: 0, Time: 2019-01-12 22:20:42.766295
Total Rows Read: 15000000, Paired Rows: 0, Time: 2019-01-12 22:21:43.359495
Total Rows Read: 15100000, Paired Rows: 0, Time: 2019-01-12 22:22:26.642422
Total Rows Read: 15200000, Paired Rows: 0, Time: 2019-01-12 22:23:05.258027
Total Rows Read: 15300000, Paired Rows: 0, Time: 2019-01-12 22:23:44.659644
Total Rows Read: 15400000, Paired Rows: 0, Time: 2019-01-12 22:24:23.909288
Total Rows Read: 15500000, Paired Rows: 0, Time: 2019-01-12 22:25:01.911208
Total Rows Read: 15600000, Paired Rows: 0, Time: 2019-01-12 22:25:45.657564
Total Rows Read: 15700000, Paired Rows: 0, Time: 2019-01-12 22:26:26.411762
Total Rows Read: 15800000, Paired Rows: 0, Time: 2019-01-12 22:27:06.746765
Total Rows Read: 15900000, Paired Rows: 0, Time: 2019-01-12 22:27:51.252543
Total Rows Read: 16000000, Paired Rows: 0, Time: 2019-01-12 22:28:32.696114
Total Rows Read: 16100000, Paired Rows: 0, Time: 2019-01-12 22:29:17.259510
Total Rows Read: 16200000, Paired Rows: 0, Time: 2019-01-12 22:29:59.074985
Total Rows Read: 16300000, Paired Rows: 0, Time: 2019-01-12 22:30:40.896726
Total Rows Read: 16400000, Paired Rows: 0, Time: 2019-01-12 22:31:20.624464
Total Rows Read: 16500000, Paired Rows: 0, Time: 2019-01-12 22:32:02.252386
Total Rows Read: 16600000, Paired Rows: 0, Time: 2019-01-12 22:32:47.407178
Total Rows Read: 16700000, Paired Rows: 0, Time: 2019-01-12 22:33:29.895423
Total Rows Read: 16800000, Paired Rows: 0, Time: 2019-01-12 22:34:25.063677
Total Rows Read: 16900000, Paired Rows: 0, Time: 2019-01-12 22:35:07.139200
Total Rows Read: 17000000, Paired Rows: 0, Time: 2019-01-12 22:35:46.419871
Total Rows Read: 17100000, Paired Rows: 0, Time: 2019-01-12 22:36:26.227252
Total Rows Read: 17200000, Paired Rows: 0, Time: 2019-01-12 22:37:05.327796
Total Rows Read: 17300000, Paired Rows: 0, Time: 2019-01-12 22:37:42.191277
Total Rows Read: 17400000, Paired Rows: 0, Time: 2019-01-12 22:38:47.672846
Total Rows Read: 17500000, Paired Rows: 0, Time: 2019-01-12 22:39:44.630196
Total Rows Read: 17600000, Paired Rows: 0, Time: 2019-01-12 22:40:37.359629
Total Rows Read: 17700000, Paired Rows: 0, Time: 2019-01-12 22:41:31.547284
Total Rows Read: 17800000, Paired Rows: 0, Time: 2019-01-12 22:42:24.043199
Total Rows Read: 17900000, Paired Rows: 0, Time: 2019-01-12 22:43:16.043368
Total Rows Read: 18000000, Paired Rows: 0, Time: 2019-01-12 22:44:10.113990
Total Rows Read: 18100000, Paired Rows: 0, Time: 2019-01-12 22:45:01.393868
Total Rows Read: 18200000, Paired Rows: 0, Time: 2019-01-12 22:45:53.186314
Total Rows Read: 18300000, Paired Rows: 0, Time: 2019-01-12 22:46:47.774164
Total Rows Read: 18400000, Paired Rows: 0, Time: 2019-01-12 22:47:41.529728
Total Rows Read: 18500000, Paired Rows: 0, Time: 2019-01-12 22:48:30.993990
Total Rows Read: 18600000, Paired Rows: 0, Time: 2019-01-12 22:49:22.517471
Total Rows Read: 18700000, Paired Rows: 0, Time: 2019-01-12 22:50:16.406899
Total Rows Read: 18800000, Paired Rows: 0, Time: 2019-01-12 22:51:09.002401
Total Rows Read: 18900000, Paired Rows: 0, Time: 2019-01-12 22:52:00.000510
Total Rows Read: 19000000, Paired Rows: 0, Time: 2019-01-12 22:52:50.766272
Total Rows Read: 19100000, Paired Rows: 0, Time: 2019-01-12 22:53:32.026451
Total Rows Read: 19200000, Paired Rows: 0, Time: 2019-01-12 22:54:14.886126
Total Rows Read: 19300000, Paired Rows: 0, Time: 2019-01-12 22:55:01.148816
Total Rows Read: 19400000, Paired Rows: 0, Time: 2019-01-12 22:55:45.104664
Total Rows Read: 19500000, Paired Rows: 0, Time: 2019-01-12 22:56:28.742970
Total Rows Read: 19600000, Paired Rows: 0, Time: 2019-01-12 22:57:14.906389
Total Rows Read: 19700000, Paired Rows: 0, Time: 2019-01-12 22:58:03.168122
Total Rows Read: 19800000, Paired Rows: 0, Time: 2019-01-12 22:58:49.255268
Total Rows Read: 19900000, Paired Rows: 0, Time: 2019-01-12 22:59:37.929897
Total Rows Read: 20000000, Paired Rows: 0, Time: 2019-01-12 23:00:23.760930
Total Rows Read: 20100000, Paired Rows: 0, Time: 2019-01-12 23:01:19.058977
Total Rows Read: 20200000, Paired Rows: 0, Time: 2019-01-12 23:02:10.263185
Total Rows Read: 20300000, Paired Rows: 0, Time: 2019-01-12 23:02:58.346537
Total Rows Read: 20400000, Paired Rows: 0, Time: 2019-01-12 23:03:49.882760
Total Rows Read: 20500000, Paired Rows: 0, Time: 2019-01-12 23:04:39.121369
Total Rows Read: 20600000, Paired Rows: 0, Time: 2019-01-12 23:05:28.612909
Total Rows Read: 20700000, Paired Rows: 0, Time: 2019-01-12 23:06:16.435770
Total Rows Read: 20800000, Paired Rows: 0, Time: 2019-01-12 23:07:02.978896
Total Rows Read: 20900000, Paired Rows: 0, Time: 2019-01-12 23:07:47.994497
Total Rows Read: 21000000, Paired Rows: 0, Time: 2019-01-12 23:08:33.621353
Total Rows Read: 21100000, Paired Rows: 0, Time: 2019-01-12 23:09:16.205033
Total Rows Read: 21200000, Paired Rows: 6103, Time: 2019-01-12 23:10:39.077445
Total Rows Read: 21300000, Paired Rows: 12902, Time: 2019-01-12 23:12:05.672300
Total Rows Read: 21400000, Paired Rows: 20104, Time: 2019-01-12 23:13:33.094136
Total Rows Read: 21500000, Paired Rows: 27014, Time: 2019-01-12 23:14:58.315305
Total Rows Read: 21600000, Paired Rows: 34234, Time: 2019-01-12 23:16:24.435838
Total Rows Read: 21700000, Paired Rows: 41403, Time: 2019-01-12 23:17:51.038620
Total Rows Read: 21800000, Paired Rows: 48518, Time: 2019-01-12 23:19:19.581538

Total Rows Read: 21900000, Paired Rows: 55849, Time: 2019-01-12 23:20:47.495724
Total Rows Read: 22000000, Paired Rows: 62972, Time: 2019-01-12 23:22:32.054137
Total Rows Read: 22100000, Paired Rows: 70106, Time: 2019-01-12 23:23:47.879551
Total Rows Read: 22200000, Paired Rows: 77495, Time: 2019-01-12 23:25:31.028925
Total Rows Read: 22300000, Paired Rows: 84838, Time: 2019-01-12 23:26:54.566802
Total Rows Read: 22400000, Paired Rows: 92410, Time: 2019-01-12 23:28:18.478836
Total Rows Read: 22500000, Paired Rows: 99947, Time: 2019-01-12 23:29:43.781620
Total Rows Read: 22600000, Paired Rows: 107502, Time: 2019-01-12 23:31:32.304675
Total Rows Read: 22700000, Paired Rows: 114684, Time: 2019-01-12 23:32:57.341460
Total Rows Read: 22800000, Paired Rows: 121898, Time: 2019-01-12 23:34:29.878533
Total Rows Read: 22900000, Paired Rows: 128988, Time: 2019-01-12 23:35:51.862924
Total Rows Read: 23000000, Paired Rows: 135985, Time: 2019-01-12 23:37:39.786507
Total Rows Read: 23100000, Paired Rows: 142705, Time: 2019-01-12 23:38:56.624543
Total Rows Read: 23200000, Paired Rows: 149498, Time: 2019-01-12 23:40:27.145516
Total Rows Read: 23300000, Paired Rows: 156289, Time: 2019-01-12 23:41:44.213032
Total Rows Read: 23400000, Paired Rows: 163161, Time: 2019-01-12 23:42:57.062412
Total Rows Read: 23500000, Paired Rows: 170148, Time: 2019-01-12 23:44:17.939780
Total Rows Read: 23600000, Paired Rows: 176611, Time: 2019-01-12 23:45:32.848011
Total Rows Read: 23700000, Paired Rows: 183155, Time: 2019-01-12 23:46:51.187604
Total Rows Read: 23800000, Paired Rows: 189354, Time: 2019-01-12 23:48:06.692679
Total Rows Read: 23900000, Paired Rows: 195570, Time: 2019-01-12 23:49:26.788591
Total Rows Read: 24000000, Paired Rows: 202161, Time: 2019-01-12 23:50:37.941699
Total Rows Read: 24100000, Paired Rows: 209009, Time: 2019-01-12 23:52:07.017346
Total Rows Read: 24200000, Paired Rows: 215810, Time: 2019-01-12 23:53:21.245554
Total Rows Read: 24300000, Paired Rows: 222914, Time: 2019-01-12 23:54:30.348725
Total Rows Read: 24400000, Paired Rows: 229919, Time: 2019-01-12 23:55:37.057395
Total Rows Read: 24500000, Paired Rows: 237039, Time: 2019-01-12 23:56:50.193665
Total Rows Read: 24600000, Paired Rows: 244535, Time: 2019-01-12 23:57:59.243122
Total Rows Read: 24700000, Paired Rows: 251845, Time: 2019-01-12 23:59:12.621944
Total Rows Read: 24800000, Paired Rows: 259150, Time: 2019-01-13 00:00:20.873380
Total Rows Read: 24900000, Paired Rows: 266391, Time: 2019-01-13 00:01:31.408500
Total Rows Read: 25000000, Paired Rows: 273713, Time: 2019-01-13 00:02:47.780643
Total Rows Read: 25100000, Paired Rows: 281092, Time: 2019-01-13 00:04:14.735212
Total Rows Read: 25200000, Paired Rows: 288390, Time: 2019-01-13 00:05:29.355940
Total Rows Read: 25300000, Paired Rows: 295702, Time: 2019-01-13 00:06:40.958471
Total Rows Read: 25400000, Paired Rows: 302999, Time: 2019-01-13 00:07:51.823974
Total Rows Read: 25500000, Paired Rows: 310303, Time: 2019-01-13 00:09:13.206829
Total Rows Read: 25600000, Paired Rows: 317407, Time: 2019-01-13 00:10:23.279406
Total Rows Read: 25700000, Paired Rows: 324582, Time: 2019-01-13 00:11:36.829264
Total Rows Read: 25800000, Paired Rows: 331631, Time: 2019-01-13 00:12:46.430161
Total Rows Read: 25900000, Paired Rows: 337815, Time: 2019-01-13 00:13:57.048784
Total Rows Read: 26000000, Paired Rows: 344469, Time: 2019-01-13 00:15:27.477045
Total Rows Read: 26100000, Paired Rows: 350651, Time: 2019-01-13 00:17:19.778671
Total Rows Read: 26200000, Paired Rows: 356906, Time: 2019-01-13 00:18:54.045296
Total Rows Read: 26300000, Paired Rows: 363204, Time: 2019-01-13 00:20:14.477938
Total Rows Read: 26400000, Paired Rows: 369614, Time: 2019-01-13 00:21:40.647167
Total Rows Read: 26500000, Paired Rows: 376326, Time: 2019-01-13 00:23:02.036394
Total Rows Read: 26600000, Paired Rows: 383027, Time: 2019-01-13 00:24:32.565903
Total Rows Read: 26700000, Paired Rows: 389571, Time: 2019-01-13 00:26:41.656935
Total Rows Read: 26800000, Paired Rows: 395899, Time: 2019-01-13 00:28:29.374436
Total Rows Read: 26900000, Paired Rows: 402309, Time: 2019-01-13 00:29:47.533229
Total Rows Read: 27000000, Paired Rows: 408906, Time: 2019-01-13 00:31:09.433342
Total Rows Read: 27100000, Paired Rows: 415848, Time: 2019-01-13 00:32:45.377712
Total Rows Read: 27200000, Paired Rows: 422832, Time: 2019-01-13 00:34:23.220911
Total Rows Read: 27300000, Paired Rows: 429925, Time: 2019-01-13 00:35:57.523151
Total Rows Read: 27400000, Paired Rows: 437118, Time: 2019-01-13 00:37:26.255656
Total Rows Read: 27500000, Paired Rows: 444458, Time: 2019-01-13 00:39:01.407415
Total Rows Read: 27600000, Paired Rows: 451990, Time: 2019-01-13 00:40:10.720790
Total Rows Read: 27700000, Paired Rows: 459304, Time: 2019-01-13 00:41:28.449146
Total Rows Read: 27800000, Paired Rows: 466922, Time: 2019-01-13 00:42:50.754961
Total Rows Read: 27900000, Paired Rows: 474061, Time: 2019-01-13 00:44:16.970962
Total Rows Read: 28000000, Paired Rows: 481375, Time: 2019-01-13 00:45:38.678753
Total Rows Read: 28100000, Paired Rows: 488774, Time: 2019-01-13 00:47:04.722711
Total Rows Read: 28200000, Paired Rows: 496086, Time: 2019-01-13 00:48:39.041328
Total Rows Read: 28300000, Paired Rows: 503035, Time: 2019-01-13 00:50:17.259060
Total Rows Read: 28400000, Paired Rows: 510059, Time: 2019-01-13 00:52:23.688335
Total Rows Read: 28500000, Paired Rows: 517357, Time: 2019-01-13 00:54:08.171942
Total Rows Read: 28600000, Paired Rows: 524338, Time: 2019-01-13 00:55:41.667741
Total Rows Read: 28700000, Paired Rows: 531183, Time: 2019-01-13 00:57:06.591378
Total Rows Read: 28800000, Paired Rows: 537799, Time: 2019-01-13 00:58:27.251275
Total Rows Read: 28900000, Paired Rows: 544578, Time: 2019-01-13 00:59:51.593412
Total Rows Read: 29000000, Paired Rows: 551130, Time: 2019-01-13 01:01:13.880574
Total Rows Read: 29100000, Paired Rows: 557877, Time: 2019-01-13 01:02:34.884251
Total Rows Read: 29200000, Paired Rows: 564475, Time: 2019-01-13 01:04:02.513023
Total Rows Read: 29300000, Paired Rows: 571031, Time: 2019-01-13 01:05:52.562115
Total Rows Read: 29400000, Paired Rows: 577521, Time: 2019-01-13 01:07:26.512185
Total Rows Read: 29500000, Paired Rows: 583529, Time: 2019-01-13 01:08:44.894706
Total Rows Read: 29600000, Paired Rows: 589519, Time: 2019-01-13 01:10:08.777446
Total Rows Read: 29700000, Paired Rows: 595514, Time: 2019-01-13 01:11:43.663598
Total Rows Read: 29800000, Paired Rows: 602165, Time: 2019-01-13 01:13:01.458545
Total Rows Read: 29900000, Paired Rows: 608998, Time: 2019-01-13 01:14:35.765305
Total Rows Read: 30000000, Paired Rows: 615783, Time: 2019-01-13 01:16:02.726868
Total Rows Read: 30100000, Paired Rows: 622574, Time: 2019-01-13 01:17:46.167366
Total Rows Read: 30200000, Paired Rows: 629389, Time: 2019-01-13 01:18:57.935190
Total Rows Read: 30300000, Paired Rows: 636157, Time: 2019-01-13 01:20:07.184142
Total Rows Read: 30400000, Paired Rows: 643072, Time: 2019-01-13 01:21:23.115781
Total Rows Read: 30500000, Paired Rows: 650028, Time: 2019-01-13 01:22:34.088327
Total Rows Read: 30600000, Paired Rows: 656904, Time: 2019-01-13 01:23:41.521137
Total Rows Read: 30700000, Paired Rows: 663872, Time: 2019-01-13 01:24:51.348576
Total Rows Read: 30800000, Paired Rows: 670717, Time: 2019-01-13 01:26:01.447692
Total Rows Read: 30900000, Paired Rows: 677656, Time: 2019-01-13 01:27:09.289106
Total Rows Read: 31000000, Paired Rows: 684171, Time: 2019-01-13 01:28:23.865061
Total Rows Read: 31100000, Paired Rows: 690909, Time: 2019-01-13 01:29:35.165821
Total Rows Read: 31200000, Paired Rows: 697876, Time: 2019-01-13 01:30:46.511077
Total Rows Read: 31300000, Paired Rows: 704662, Time: 2019-01-13 01:31:55.121921
Total Rows Read: 31400000, Paired Rows: 711042, Time: 2019-01-13 01:33:00.655886
Total Rows Read: 31500000, Paired Rows: 717315, Time: 2019-01-13 01:34:15.568596
Total Rows Read: 31600000, Paired Rows: 723675, Time: 2019-01-13 01:35:22.794416
Total Rows Read: 31700000, Paired Rows: 730388, Time: 2019-01-13 01:36:33.145783
Total Rows Read: 31800000, Paired Rows: 737005, Time: 2019-01-13 01:37:49.265250
Total Rows Read: 31900000, Paired Rows: 743681, Time: 2019-01-13 01:39:05.105680
Total Rows Read: 32000000, Paired Rows: 749934, Time: 2019-01-13 01:40:16.205771

Total Rows Read: 32100000, Paired Rows: 755997, Time: 2019-01-13 01:41:28.546088
Total Rows Read: 32200000, Paired Rows: 762083, Time: 2019-01-13 01:42:40.240835
Total Rows Read: 32300000, Paired Rows: 768682, Time: 2019-01-13 01:43:52.109733
Total Rows Read: 32400000, Paired Rows: 775378, Time: 2019-01-13 01:45:02.349615
Total Rows Read: 32500000, Paired Rows: 782224, Time: 2019-01-13 01:46:13.385874
Total Rows Read: 32600000, Paired Rows: 789176, Time: 2019-01-13 01:47:22.266381
Total Rows Read: 32700000, Paired Rows: 796285, Time: 2019-01-13 01:48:43.392914
Total Rows Read: 32800000, Paired Rows: 803693, Time: 2019-01-13 01:49:55.591027
Total Rows Read: 32900000, Paired Rows: 810216, Time: 2019-01-13 01:50:59.810409
Total Rows Read: 33000000, Paired Rows: 816518, Time: 2019-01-13 01:52:03.092149
Total Rows Read: 33100000, Paired Rows: 823181, Time: 2019-01-13 01:53:07.248982
Total Rows Read: 33200000, Paired Rows: 829324, Time: 2019-01-13 01:54:14.141955
Total Rows Read: 33300000, Paired Rows: 835482, Time: 2019-01-13 01:55:20.916957
Total Rows Read: 33400000, Paired Rows: 842247, Time: 2019-01-13 01:56:26.565932
Total Rows Read: 33500000, Paired Rows: 849033, Time: 2019-01-13 01:57:36.046064
Total Rows Read: 33600000, Paired Rows: 855765, Time: 2019-01-13 01:58:52.416661
Total Rows Read: 33700000, Paired Rows: 862501, Time: 2019-01-13 02:00:13.993353
Total Rows Read: 33800000, Paired Rows: 869525, Time: 2019-01-13 02:01:27.919907
Total Rows Read: 33900000, Paired Rows: 876716, Time: 2019-01-13 02:02:43.125817
Total Rows Read: 34000000, Paired Rows: 883550, Time: 2019-01-13 02:03:57.019678
Total Rows Read: 34100000, Paired Rows: 889989, Time: 2019-01-13 02:05:13.717306
Total Rows Read: 34200000, Paired Rows: 896602, Time: 2019-01-13 02:06:32.985413
Total Rows Read: 34300000, Paired Rows: 903345, Time: 2019-01-13 02:07:51.544451
Total Rows Read: 34400000, Paired Rows: 910276, Time: 2019-01-13 02:09:09.951976
Total Rows Read: 34500000, Paired Rows: 917120, Time: 2019-01-13 02:10:26.500436
Total Rows Read: 34600000, Paired Rows: 923868, Time: 2019-01-13 02:11:47.159570
Total Rows Read: 34700000, Paired Rows: 930234, Time: 2019-01-13 02:13:11.374854
Total Rows Read: 34800000, Paired Rows: 936453, Time: 2019-01-13 02:14:27.596399
Total Rows Read: 34900000, Paired Rows: 942802, Time: 2019-01-13 02:15:56.515400
Total Rows Read: 35000000, Paired Rows: 949494, Time: 2019-01-13 02:17:23.542637
Total Rows Read: 35100000, Paired Rows: 956433, Time: 2019-01-13 02:18:38.694478
Total Rows Read: 35200000, Paired Rows: 963325, Time: 2019-01-13 02:20:04.905595
Total Rows Read: 35300000, Paired Rows: 970439, Time: 2019-01-13 02:21:25.682588
Total Rows Read: 35400000, Paired Rows: 977533, Time: 2019-01-13 02:22:38.411373
Total Rows Read: 35500000, Paired Rows: 984815, Time: 2019-01-13 02:23:56.727028
Total Rows Read: 35600000, Paired Rows: 992123, Time: 2019-01-13 02:25:17.838547
Total Rows Read: 35700000, Paired Rows: 999356, Time: 2019-01-13 02:26:43.425137
Total Rows Read: 35800000, Paired Rows: 1006731, Time: 2019-01-13 02:28:02.060187
Total Rows Read: 35900000, Paired Rows: 1013989, Time: 2019-01-13 02:29:21.775288
Total Rows Read: 36000000, Paired Rows: 1021302, Time: 2019-01-13 02:30:38.981061
Total Rows Read: 36100000, Paired Rows: 1028475, Time: 2019-01-13 02:32:01.849580
Total Rows Read: 36200000, Paired Rows: 1035586, Time: 2019-01-13 02:33:15.512518
Total Rows Read: 36300000, Paired Rows: 1042702, Time: 2019-01-13 02:34:37.311075
Total Rows Read: 36400000, Paired Rows: 1049656, Time: 2019-01-13 02:35:49.494146
Total Rows Read: 36500000, Paired Rows: 1056792, Time: 2019-01-13 02:37:01.703566
Total Rows Read: 36600000, Paired Rows: 1064011, Time: 2019-01-13 02:38:16.058120
Total Rows Read: 36700000, Paired Rows: 1071119, Time: 2019-01-13 02:39:36.765897
Total Rows Read: 36800000, Paired Rows: 1077929, Time: 2019-01-13 02:40:53.142623
Total Rows Read: 36900000, Paired Rows: 1084651, Time: 2019-01-13 02:42:06.776314
Total Rows Read: 37000000, Paired Rows: 1091064, Time: 2019-01-13 02:43:19.113597
Total Rows Read: 37100000, Paired Rows: 1097528, Time: 2019-01-13 02:44:36.070710
Total Rows Read: 37200000, Paired Rows: 1103871, Time: 2019-01-13 02:45:49.333772
Total Rows Read: 37300000, Paired Rows: 1110465, Time: 2019-01-13 02:47:01.709961
Total Rows Read: 37400000, Paired Rows: 1117058, Time: 2019-01-13 02:48:17.675977
Total Rows Read: 37500000, Paired Rows: 1123912, Time: 2019-01-13 02:49:42.367107
Total Rows Read: 37600000, Paired Rows: 1130426, Time: 2019-01-13 02:50:59.169130
Total Rows Read: 37700000, Paired Rows: 1136777, Time: 2019-01-13 02:52:17.970931
Total Rows Read: 37800000, Paired Rows: 1142712, Time: 2019-01-13 02:53:32.990405
Total Rows Read: 37900000, Paired Rows: 1148697, Time: 2019-01-13 02:54:50.036282
Total Rows Read: 38000000, Paired Rows: 1155229, Time: 2019-01-13 02:56:09.307502
Total Rows Read: 38100000, Paired Rows: 1162008, Time: 2019-01-13 02:57:26.231162
Total Rows Read: 38200000, Paired Rows: 1168920, Time: 2019-01-13 02:58:42.196644
Total Rows Read: 38300000, Paired Rows: 1175826, Time: 2019-01-13 03:00:06.889586
Total Rows Read: 38400000, Paired Rows: 1182791, Time: 2019-01-13 03:01:32.923776
Total Rows Read: 38500000, Paired Rows: 1189781, Time: 2019-01-13 03:02:45.785707
Total Rows Read: 38600000, Paired Rows: 1196975, Time: 2019-01-13 03:03:58.733731
Total Rows Read: 38700000, Paired Rows: 1204156, Time: 2019-01-13 03:05:30.103077
Total Rows Read: 38800000, Paired Rows: 1211394, Time: 2019-01-13 03:06:43.338779
Total Rows Read: 38900000, Paired Rows: 1218494, Time: 2019-01-13 03:07:53.811486
Total Rows Read: 39000000, Paired Rows: 1225785, Time: 2019-01-13 03:09:06.834280
Total Rows Read: 39100000, Paired Rows: 1233075, Time: 2019-01-13 03:10:21.189322
Total Rows Read: 39200000, Paired Rows: 1240304, Time: 2019-01-13 03:11:37.977948
Total Rows Read: 39300000, Paired Rows: 1247492, Time: 2019-01-13 03:12:54.291719
Total Rows Read: 39400000, Paired Rows: 1254683, Time: 2019-01-13 03:14:14.002875
Total Rows Read: 39500000, Paired Rows: 1261915, Time: 2019-01-13 03:15:36.168233
Total Rows Read: 39600000, Paired Rows: 1269075, Time: 2019-01-13 03:17:06.822935
Total Rows Read: 39700000, Paired Rows: 1276249, Time: 2019-01-13 03:18:35.702796
Total Rows Read: 39800000, Paired Rows: 1283465, Time: 2019-01-13 03:20:36.372697
Total Rows Read: 39900000, Paired Rows: 1290601, Time: 2019-01-13 03:22:28.828482
Total Rows Read: 40000000, Paired Rows: 1297518, Time: 2019-01-13 03:24:18.904057
Total Rows Read: 40100000, Paired Rows: 1304312, Time: 2019-01-13 03:26:06.522189
Total Rows Read: 40200000, Paired Rows: 1311020, Time: 2019-01-13 03:27:58.910058
Total Rows Read: 40300000, Paired Rows: 1317799, Time: 2019-01-13 03:29:52.998300
Total Rows Read: 40400000, Paired Rows: 1324552, Time: 2019-01-13 03:31:45.549385
Total Rows Read: 40500000, Paired Rows: 1331812, Time: 2019-01-13 03:33:42.045558
Total Rows Read: 40600000, Paired Rows: 1338822, Time: 2019-01-13 03:35:45.004667
Total Rows Read: 40700000, Paired Rows: 1345577, Time: 2019-01-13 03:37:45.070449
Total Rows Read: 40800000, Paired Rows: 1352050, Time: 2019-01-13 03:39:42.369844
Total Rows Read: 40900000, Paired Rows: 1358265, Time: 2019-01-13 03:41:42.294725
Total Rows Read: 41000000, Paired Rows: 1364259, Time: 2019-01-13 03:43:31.003090
Total Rows Read: 41100000, Paired Rows: 1370551, Time: 2019-01-13 03:45:28.063009
Total Rows Read: 41200000, Paired Rows: 1377188, Time: 2019-01-13 03:47:23.968949
Total Rows Read: 41300000, Paired Rows: 1384012, Time: 2019-01-13 03:49:18.663990
Total Rows Read: 41400000, Paired Rows: 1390996, Time: 2019-01-13 03:51:10.545844
Total Rows Read: 41500000, Paired Rows: 1398085, Time: 2019-01-13 03:53:04.151508
Total Rows Read: 41600000, Paired Rows: 1405151, Time: 2019-01-13 03:54:58.205894
Total Rows Read: 41700000, Paired Rows: 1412315, Time: 2019-01-13 03:56:51.301309
Total Rows Read: 41800000, Paired Rows: 1419362, Time: 2019-01-13 03:58:48.308985
Total Rows Read: 41900000, Paired Rows: 1426266, Time: 2019-01-13 04:00:49.497237
Total Rows Read: 42000000, Paired Rows: 1433462, Time: 2019-01-13 04:02:45.606344
Total Rows Read: 42100000, Paired Rows: 1440690, Time: 2019-01-13 04:04:44.341956

Total Rows Read: 42200000, Paired Rows: 1448079, Time: 2019-01-13 04:06:42.512117
Total Rows Read: 42300000, Paired Rows: 1455316, Time: 2019-01-13 04:08:37.767127
Total Rows Read: 42400000, Paired Rows: 1462434, Time: 2019-01-13 04:10:29.610301
Total Rows Read: 42500000, Paired Rows: 1469739, Time: 2019-01-13 04:12:25.500176
Total Rows Read: 42600000, Paired Rows: 1476931, Time: 2019-01-13 04:14:23.243891
Total Rows Read: 42700000, Paired Rows: 1484059, Time: 2019-01-13 04:16:23.299964
Total Rows Read: 42800000, Paired Rows: 1491327, Time: 2019-01-13 04:18:25.485311
Total Rows Read: 42900000, Paired Rows: 1498499, Time: 2019-01-13 11:00:57.963318
Total Rows Read: 43000000, Paired Rows: 1505604, Time: 2019-01-13 11:03:23.335875
Total Rows Read: 43100000, Paired Rows: 1512641, Time: 2019-01-13 11:05:40.810559
Total Rows Read: 43200000, Paired Rows: 1519297, Time: 2019-01-13 11:08:17.204779
Total Rows Read: 43300000, Paired Rows: 1526213, Time: 2019-01-13 11:10:47.455336
Total Rows Read: 43400000, Paired Rows: 1532719, Time: 2019-01-13 11:13:10.524054
Total Rows Read: 43500000, Paired Rows: 1539486, Time: 2019-01-13 11:15:32.445788
Total Rows Read: 43600000, Paired Rows: 1546132, Time: 2019-01-13 11:17:41.140034
Total Rows Read: 43700000, Paired Rows: 1552551, Time: 2019-01-13 11:19:46.113609
Total Rows Read: 43800000, Paired Rows: 1559073, Time: 2019-01-13 11:21:56.122832
Total Rows Read: 43900000, Paired Rows: 1565554, Time: 2019-01-13 11:24:01.209693
Total Rows Read: 44000000, Paired Rows: 1571835, Time: 2019-01-13 11:26:12.151789
Total Rows Read: 44100000, Paired Rows: 1578069, Time: 2019-01-13 11:28:12.034425
Total Rows Read: 44200000, Paired Rows: 1584540, Time: 2019-01-13 11:30:51.384731
Total Rows Read: 44300000, Paired Rows: 1591266, Time: 2019-01-13 11:33:01.369860
Total Rows Read: 44400000, Paired Rows: 1598216, Time: 2019-01-13 11:35:00.774821
Total Rows Read: 44500000, Paired Rows: 1605180, Time: 2019-01-13 11:37:09.073237
Total Rows Read: 44600000, Paired Rows: 1612281, Time: 2019-01-13 11:39:23.518029
Total Rows Read: 44700000, Paired Rows: 1619501, Time: 2019-01-13 11:41:46.917657
Total Rows Read: 44800000, Paired Rows: 1626896, Time: 2019-01-13 11:43:56.549138
Total Rows Read: 44900000, Paired Rows: 1634076, Time: 2019-01-13 11:46:10.734252
Total Rows Read: 45000000, Paired Rows: 1641331, Time: 2019-01-13 11:48:20.282085
Total Rows Read: 45100000, Paired Rows: 1648661, Time: 2019-01-13 11:50:15.245292
Total Rows Read: 45200000, Paired Rows: 1655861, Time: 2019-01-13 11:52:10.800199
Total Rows Read: 45300000, Paired Rows: 1663175, Time: 2019-01-13 11:54:06.806010
Total Rows Read: 45400000, Paired Rows: 1670361, Time: 2019-01-13 11:56:00.505779
Total Rows Read: 45500000, Paired Rows: 1677611, Time: 2019-01-13 11:57:59.488769
Total Rows Read: 45600000, Paired Rows: 1684695, Time: 2019-01-13 12:00:01.062285
Total Rows Read: 45700000, Paired Rows: 1691869, Time: 2019-01-13 12:01:56.288427
Total Rows Read: 45800000, Paired Rows: 1699025, Time: 2019-01-13 12:03:42.924526
Total Rows Read: 45900000, Paired Rows: 1706095, Time: 2019-01-13 12:05:25.601450
Total Rows Read: 46000000, Paired Rows: 1712912, Time: 2019-01-13 12:07:12.277435
Total Rows Read: 46100000, Paired Rows: 1720045, Time: 2019-01-13 12:08:52.603458
Total Rows Read: 46200000, Paired Rows: 1726691, Time: 2019-01-13 12:10:28.835734
Total Rows Read: 46300000, Paired Rows: 1733061, Time: 2019-01-13 12:12:02.500185
Total Rows Read: 46400000, Paired Rows: 1739145, Time: 2019-01-13 12:13:32.078834
Total Rows Read: 46500000, Paired Rows: 1745291, Time: 2019-01-13 12:15:00.571902
Total Rows Read: 46600000, Paired Rows: 1751600, Time: 2019-01-13 12:16:33.244214
Total Rows Read: 46700000, Paired Rows: 1758301, Time: 2019-01-13 12:18:18.219761
Total Rows Read: 46800000, Paired Rows: 1765245, Time: 2019-01-13 12:20:03.475718
Total Rows Read: 46900000, Paired Rows: 1771706, Time: 2019-01-13 12:21:43.048915
Total Rows Read: 47000000, Paired Rows: 1778015, Time: 2019-01-13 12:23:24.989208
Total Rows Read: 47100000, Paired Rows: 1784138, Time: 2019-01-13 12:25:19.861672
Total Rows Read: 47200000, Paired Rows: 1790313, Time: 2019-01-13 12:27:32.191253
Total Rows Read: 47300000, Paired Rows: 1796948, Time: 2019-01-13 12:29:37.070306
Total Rows Read: 47400000, Paired Rows: 1804056, Time: 2019-01-13 12:31:49.777197
Total Rows Read: 47500000, Paired Rows: 1811218, Time: 2019-01-13 12:33:54.627475
Total Rows Read: 47600000, Paired Rows: 1818552, Time: 2019-01-13 12:36:06.194741
Total Rows Read: 47700000, Paired Rows: 1825983, Time: 2019-01-13 12:38:17.574921
Total Rows Read: 47800000, Paired Rows: 1833349, Time: 2019-01-13 12:40:26.385380
Total Rows Read: 47900000, Paired Rows: 1840745, Time: 2019-01-13 12:42:41.937694
Total Rows Read: 48000000, Paired Rows: 1848104, Time: 2019-01-13 12:45:22.582824
Total Rows Read: 48100000, Paired Rows: 1855392, Time: 2019-01-13 12:47:27.187211
Total Rows Read: 48200000, Paired Rows: 1862847, Time: 2019-01-13 12:49:34.720889
Total Rows Read: 48300000, Paired Rows: 1870170, Time: 2019-01-13 12:51:38.521326
Total Rows Read: 48400000, Paired Rows: 1877397, Time: 2019-01-13 12:53:39.620605
Total Rows Read: 48500000, Paired Rows: 1884549, Time: 2019-01-13 12:55:48.242430
Total Rows Read: 48600000, Paired Rows: 1891845, Time: 2019-01-13 12:57:54.342236
Total Rows Read: 48700000, Paired Rows: 1899134, Time: 2019-01-13 13:00:34.173972
Total Rows Read: 48800000, Paired Rows: 1906533, Time: 2019-01-13 13:02:53.285905
Total Rows Read: 48900000, Paired Rows: 1913751, Time: 2019-01-13 13:05:14.708832
Total Rows Read: 49000000, Paired Rows: 1920881, Time: 2019-01-13 13:07:47.772817
Total Rows Read: 49100000, Paired Rows: 1927958, Time: 2019-01-13 13:09:57.346848
Total Rows Read: 49200000, Paired Rows: 1934699, Time: 2019-01-13 13:12:09.803820
Total Rows Read: 49300000, Paired Rows: 1941409, Time: 2019-01-13 13:14:24.000114
Total Rows Read: 49400000, Paired Rows: 1948346, Time: 2019-01-13 13:16:33.752282
Total Rows Read: 49500000, Paired Rows: 1955367, Time: 2019-01-13 13:18:45.815816
Total Rows Read: 49600000, Paired Rows: 1962167, Time: 2019-01-13 13:20:58.118359
Total Rows Read: 49700000, Paired Rows: 1968651, Time: 2019-01-13 13:23:03.386804
Total Rows Read: 49800000, Paired Rows: 1974851, Time: 2019-01-13 13:25:08.311329
Total Rows Read: 49900000, Paired Rows: 1980752, Time: 2019-01-13 13:27:17.481297
Total Rows Read: 50000000, Paired Rows: 1986844, Time: 2019-01-13 13:29:22.969527
Total Rows Read: 50100000, Paired Rows: 1993271, Time: 2019-01-13 13:31:14.435737
Total Rows Read: 50200000, Paired Rows: 1999881, Time: 2019-01-13 13:33:01.986582
Total Rows Read: 50300000, Paired Rows: 2006548, Time: 2019-01-13 13:34:50.372363
Total Rows Read: 50400000, Paired Rows: 2013203, Time: 2019-01-13 13:36:17.274833
Total Rows Read: 50500000, Paired Rows: 2020304, Time: 2019-01-13 13:37:42.845143
Total Rows Read: 50600000, Paired Rows: 2027386, Time: 2019-01-13 13:39:07.483144
Total Rows Read: 50700000, Paired Rows: 2034551, Time: 2019-01-13 13:40:55.494423
Total Rows Read: 50800000, Paired Rows: 2041354, Time: 2019-01-13 13:42:48.843097
Total Rows Read: 50900000, Paired Rows: 2048333, Time: 2019-01-13 13:44:36.849023
Total Rows Read: 51000000, Paired Rows: 2055409, Time: 2019-01-13 13:46:07.601095
Total Rows Read: 51100000, Paired Rows: 2062337, Time: 2019-01-13 13:47:37.208410
Total Rows Read: 51200000, Paired Rows: 2069584, Time: 2019-01-13 13:49:06.981810
Total Rows Read: 51300000, Paired Rows: 2076580, Time: 2019-01-13 13:50:34.981008
Total Rows Read: 51400000, Paired Rows: 2083829, Time: 2019-01-13 13:52:09.171958
Total Rows Read: 51500000, Paired Rows: 2090874, Time: 2019-01-13 13:53:44.615619
Total Rows Read: 51600000, Paired Rows: 2097320, Time: 2019-01-13 13:55:16.297338
Total Rows Read: 51700000, Paired Rows: 2103583, Time: 2019-01-13 13:56:41.727486
Total Rows Read: 51800000, Paired Rows: 2110473, Time: 2019-01-13 13:58:14.136168
Total Rows Read: 51900000, Paired Rows: 2117333, Time: 2019-01-13 14:00:03.642596
Total Rows Read: 52000000, Paired Rows: 2124148, Time: 2019-01-13 14:02:25.924049
Total Rows Read: 52100000, Paired Rows: 2130729, Time: 2019-01-13 14:04:23.592940

Total Rows Read: 52200000, Paired Rows: 2137240, Time: 2019-01-13 14:06:20.936609
Total Rows Read: 52300000, Paired Rows: 2143468, Time: 2019-01-13 14:08:45.102606
Total Rows Read: 52400000, Paired Rows: 2149505, Time: 2019-01-13 14:10:39.980246
Total Rows Read: 52500000, Paired Rows: 2155880, Time: 2019-01-13 14:12:25.977936
Total Rows Read: 52600000, Paired Rows: 2162522, Time: 2019-01-13 14:14:40.560556
Total Rows Read: 52700000, Paired Rows: 2169294, Time: 2019-01-13 14:16:23.728125
Total Rows Read: 52800000, Paired Rows: 2176524, Time: 2019-01-13 14:17:48.262941
Total Rows Read: 52900000, Paired Rows: 2183503, Time: 2019-01-13 14:19:09.484174
Total Rows Read: 53000000, Paired Rows: 2190456, Time: 2019-01-13 14:20:34.531172
Total Rows Read: 53100000, Paired Rows: 2196989, Time: 2019-01-13 14:21:54.447856
Total Rows Read: 53200000, Paired Rows: 2203240, Time: 2019-01-13 14:23:12.650826
Total Rows Read: 53300000, Paired Rows: 2209869, Time: 2019-01-13 14:24:32.446170
Total Rows Read: 53400000, Paired Rows: 2216293, Time: 2019-01-13 14:25:53.920085
Total Rows Read: 53500000, Paired Rows: 2222318, Time: 2019-01-13 14:27:13.335337
Total Rows Read: 53600000, Paired Rows: 2228755, Time: 2019-01-13 14:28:32.432488
Total Rows Read: 53700000, Paired Rows: 2235479, Time: 2019-01-13 14:29:55.087991
Total Rows Read: 53800000, Paired Rows: 2242246, Time: 2019-01-13 14:31:17.509466
Total Rows Read: 53900000, Paired Rows: 2249060, Time: 2019-01-13 14:32:46.713336
Total Rows Read: 54000000, Paired Rows: 2255945, Time: 2019-01-13 14:34:13.751141
Total Rows Read: 54100000, Paired Rows: 2262642, Time: 2019-01-13 14:36:24.582007
Total Rows Read: 54200000, Paired Rows: 2269362, Time: 2019-01-13 14:38:26.282888
Total Rows Read: 54300000, Paired Rows: 2275653, Time: 2019-01-13 14:40:26.139266
Total Rows Read: 54400000, Paired Rows: 2281868, Time: 2019-01-13 14:42:15.610817
Total Rows Read: 54500000, Paired Rows: 2287793, Time: 2019-01-13 14:44:09.691641
Total Rows Read: 54600000, Paired Rows: 2294480, Time: 2019-01-13 14:46:07.811975
Total Rows Read: 54700000, Paired Rows: 2301345, Time: 2019-01-13 14:48:07.239848
Total Rows Read: 54800000, Paired Rows: 2308022, Time: 2019-01-13 14:50:16.884011
Total Rows Read: 54900000, Paired Rows: 2314552, Time: 2019-01-13 14:52:28.733852
Total Rows Read: 55000000, Paired Rows: 2320787, Time: 2019-01-13 14:54:40.937770
Total Rows Read: 55100000, Paired Rows: 2326912, Time: 2019-01-13 14:56:42.818652
Total Rows Read: 55200000, Paired Rows: 2333459, Time: 2019-01-13 14:58:46.405627
Total Rows Read: 55300000, Paired Rows: 2340227, Time: 2019-01-13 15:00:50.520835
Total Rows Read: 55400000, Paired Rows: 2347302, Time: 2019-01-13 15:02:43.141372
Total Rows Read: 55500000, Paired Rows: 2354347, Time: 2019-01-13 15:04:23.882246
Total Rows Read: 55600000, Paired Rows: 2361594, Time: 2019-01-13 15:06:36.123289
Total Rows Read: 55700000, Paired Rows: 2368703, Time: 2019-01-13 15:08:58.529593
Total Rows Read: 55800000, Paired Rows: 2376058, Time: 2019-01-13 15:11:02.281236
Total Rows Read: 55900000, Paired Rows: 2383296, Time: 2019-01-13 15:13:15.121145
Total Rows Read: 56000000, Paired Rows: 2390517, Time: 2019-01-13 15:15:32.011834
Total Rows Read: 56100000, Paired Rows: 2397731, Time: 2019-01-13 15:17:47.029086
Total Rows Read: 56200000, Paired Rows: 2404867, Time: 2019-01-13 15:19:57.516630
Total Rows Read: 56300000, Paired Rows: 2412228, Time: 2019-01-13 15:22:10.841755
Total Rows Read: 56400000, Paired Rows: 2419558, Time: 2019-01-13 15:24:20.472723
Total Rows Read: 56500000, Paired Rows: 2427016, Time: 2019-01-13 15:26:36.431628
Total Rows Read: 56600000, Paired Rows: 2434401, Time: 2019-01-13 15:28:53.568287
Total Rows Read: 56700000, Paired Rows: 2441625, Time: 2019-01-13 15:31:06.230227
Total Rows Read: 56800000, Paired Rows: 2448888, Time: 2019-01-13 15:33:16.950005
Total Rows Read: 56900000, Paired Rows: 2456171, Time: 2019-01-13 15:35:28.477809
Total Rows Read: 57000000, Paired Rows: 2463182, Time: 2019-01-13 15:37:38.166962
Total Rows Read: 57100000, Paired Rows: 2469946, Time: 2019-01-13 15:39:44.711860
Total Rows Read: 57200000, Paired Rows: 2476237, Time: 2019-01-13 15:41:44.029016
Total Rows Read: 57300000, Paired Rows: 2482555, Time: 2019-01-13 15:43:48.737399
Total Rows Read: 57400000, Paired Rows: 2488896, Time: 2019-01-13 15:45:14.965099
Total Rows Read: 57500000, Paired Rows: 2495314, Time: 2019-01-13 15:46:37.720957
Total Rows Read: 57600000, Paired Rows: 2501822, Time: 2019-01-13 15:48:09.303569
Total Rows Read: 57700000, Paired Rows: 2508714, Time: 2019-01-13 15:49:42.613272
Total Rows Read: 57800000, Paired Rows: 2515377, Time: 2019-01-13 15:51:15.743331
Total Rows Read: 57900000, Paired Rows: 2521716, Time: 2019-01-13 15:52:48.107190
Total Rows Read: 58000000, Paired Rows: 2527902, Time: 2019-01-13 15:54:22.116427
Total Rows Read: 58100000, Paired Rows: 2534125, Time: 2019-01-13 15:55:52.062094
Total Rows Read: 58200000, Paired Rows: 2540889, Time: 2019-01-13 15:57:24.380654
Total Rows Read: 58300000, Paired Rows: 2547627, Time: 2019-01-13 15:58:55.000470
Total Rows Read: 58400000, Paired Rows: 2554531, Time: 2019-01-13 16:00:18.687420
Total Rows Read: 58500000, Paired Rows: 2561670, Time: 2019-01-13 16:01:44.402419
Total Rows Read: 58600000, Paired Rows: 2568743, Time: 2019-01-13 16:03:12.431507
Total Rows Read: 58700000, Paired Rows: 2575866, Time: 2019-01-13 16:04:38.395234
Total Rows Read: 58800000, Paired Rows: 2583238, Time: 2019-01-13 16:06:00.585719
Total Rows Read: 58900000, Paired Rows: 2590416, Time: 2019-01-13 16:07:29.558950
Total Rows Read: 59000000, Paired Rows: 2597591, Time: 2019-01-13 16:09:02.314127
Total Rows Read: 59100000, Paired Rows: 2604850, Time: 2019-01-13 16:10:26.359675
Total Rows Read: 59200000, Paired Rows: 2612094, Time: 2019-01-13 16:11:52.864953
Total Rows Read: 59300000, Paired Rows: 2619041, Time: 2019-01-13 16:13:24.254680
Total Rows Read: 59400000, Paired Rows: 2626216, Time: 2019-01-13 16:15:05.571570
Total Rows Read: 59500000, Paired Rows: 2633457, Time: 2019-01-13 16:16:34.168847
Total Rows Read: 59600000, Paired Rows: 2640590, Time: 2019-01-13 16:17:58.598968
Total Rows Read: 59700000, Paired Rows: 2647834, Time: 2019-01-13 16:19:29.761919
Total Rows Read: 59800000, Paired Rows: 2655078, Time: 2019-01-13 16:21:01.109722
Total Rows Read: 59900000, Paired Rows: 2662192, Time: 2019-01-13 16:22:53.790668
Total Rows Read: 60000000, Paired Rows: 2669374, Time: 2019-01-13 16:25:03.881332
Total Rows Read: 60100000, Paired Rows: 2676483, Time: 2019-01-13 16:27:20.797989
Total Rows Read: 60200000, Paired Rows: 2683414, Time: 2019-01-13 16:29:38.893839
Total Rows Read: 60300000, Paired Rows: 2690151, Time: 2019-01-13 16:31:51.293406
Total Rows Read: 60400000, Paired Rows: 2697253, Time: 2019-01-13 16:33:41.632167
Total Rows Read: 60500000, Paired Rows: 2704069, Time: 2019-01-13 16:35:19.727612
Total Rows Read: 60600000, Paired Rows: 2710905, Time: 2019-01-13 16:36:52.516234
Total Rows Read: 60700000, Paired Rows: 2717361, Time: 2019-01-13 16:38:27.644240
Total Rows Read: 60800000, Paired Rows: 2723832, Time: 2019-01-13 16:40:05.168262
Total Rows Read: 60900000, Paired Rows: 2730019, Time: 2019-01-13 16:41:40.155249
Total Rows Read: 61000000, Paired Rows: 2736137, Time: 2019-01-13 16:43:16.218527
Total Rows Read: 61100000, Paired Rows: 2742605, Time: 2019-01-13 16:44:52.027144
Total Rows Read: 61200000, Paired Rows: 2749228, Time: 2019-01-13 16:46:22.185213
Total Rows Read: 61300000, Paired Rows: 2756025, Time: 2019-01-13 16:47:54.286078
Total Rows Read: 61400000, Paired Rows: 2762865, Time: 2019-01-13 16:49:16.052662
Total Rows Read: 61500000, Paired Rows: 2769787, Time: 2019-01-13 16:50:46.000846
Total Rows Read: 61600000, Paired Rows: 2776922, Time: 2019-01-13 16:52:10.800085
Total Rows Read: 61700000, Paired Rows: 2784123, Time: 2019-01-13 16:54:05.354572
Total Rows Read: 61800000, Paired Rows: 2791385, Time: 2019-01-13 16:56:01.231910
Total Rows Read: 61900000, Paired Rows: 2798650, Time: 2019-01-13 16:57:57.648217
Total Rows Read: 62000000, Paired Rows: 2805837, Time: 2019-01-13 17:00:05.344652
Total Rows Read: 62100000, Paired Rows: 2813028, Time: 2019-01-13 17:02:26.540317

Total Rows Read: 62200000, Paired Rows: 2820499, Time: 2019-01-13 17:04:45.500004
Total Rows Read: 62300000, Paired Rows: 2827833, Time: 2019-01-13 17:06:25.611633
Total Rows Read: 62400000, Paired Rows: 2834952, Time: 2019-01-13 17:08:08.340371
Total Rows Read: 62500000, Paired Rows: 2842251, Time: 2019-01-13 17:09:44.189068
Total Rows Read: 62600000, Paired Rows: 2849533, Time: 2019-01-13 17:11:24.794498
Total Rows Read: 62700000, Paired Rows: 2856627, Time: 2019-01-13 17:12:59.278328
Total Rows Read: 62800000, Paired Rows: 2863504, Time: 2019-01-13 17:14:35.410532
Total Rows Read: 62900000, Paired Rows: 2870241, Time: 2019-01-13 17:16:10.142569
Total Rows Read: 63000000, Paired Rows: 2876799, Time: 2019-01-13 17:17:46.195499
Total Rows Read: 63100000, Paired Rows: 2883142, Time: 2019-01-13 17:19:41.886543
Total Rows Read: 63200000, Paired Rows: 2889679, Time: 2019-01-13 17:21:36.727442
Total Rows Read: 63300000, Paired Rows: 2896527, Time: 2019-01-13 17:23:33.234393
Total Rows Read: 63400000, Paired Rows: 2903116, Time: 2019-01-13 17:25:34.180179
Total Rows Read: 63500000, Paired Rows: 2909597, Time: 2019-01-13 17:27:38.043964
Total Rows Read: 63600000, Paired Rows: 2916083, Time: 2019-01-13 17:29:43.325714
Total Rows Read: 63700000, Paired Rows: 2922336, Time: 2019-01-13 17:31:51.797767
Total Rows Read: 63800000, Paired Rows: 2928525, Time: 2019-01-13 17:33:57.374247
Total Rows Read: 63900000, Paired Rows: 2934923, Time: 2019-01-13 17:36:01.431097
Total Rows Read: 64000000, Paired Rows: 2941599, Time: 2019-01-13 17:38:14.925868
Total Rows Read: 64100000, Paired Rows: 2948460, Time: 2019-01-13 17:40:24.121266
Total Rows Read: 64200000, Paired Rows: 2955693, Time: 2019-01-13 17:42:25.409099
Total Rows Read: 64300000, Paired Rows: 2963084, Time: 2019-01-13 17:44:32.330704
Total Rows Read: 64400000, Paired Rows: 2970527, Time: 2019-01-13 17:46:38.232074
Total Rows Read: 64500000, Paired Rows: 2977724, Time: 2019-01-13 17:48:36.092187
Total Rows Read: 64600000, Paired Rows: 2984622, Time: 2019-01-13 17:50:33.806177
Total Rows Read: 64700000, Paired Rows: 2991586, Time: 2019-01-13 17:52:31.211936
Total Rows Read: 64800000, Paired Rows: 2998543, Time: 2019-01-13 17:54:22.467364
Total Rows Read: 64900000, Paired Rows: 3005535, Time: 2019-01-13 17:56:19.012151
Total Rows Read: 65000000, Paired Rows: 3012865, Time: 2019-01-13 17:58:17.835239
Total Rows Read: 65100000, Paired Rows: 3020120, Time: 2019-01-13 18:00:24.406995
Total Rows Read: 65200000, Paired Rows: 3027447, Time: 2019-01-13 18:02:28.126062
Total Rows Read: 65300000, Paired Rows: 3034417, Time: 2019-01-13 18:04:32.844407
Total Rows Read: 65400000, Paired Rows: 3041449, Time: 2019-01-13 18:06:34.005109
Total Rows Read: 65500000, Paired Rows: 3048626, Time: 2019-01-13 18:08:29.373126
Total Rows Read: 65600000, Paired Rows: 3055513, Time: 2019-01-13 18:10:16.077747
Total Rows Read: 65700000, Paired Rows: 3062656, Time: 2019-01-13 18:11:58.900991
Total Rows Read: 65800000, Paired Rows: 3069258, Time: 2019-01-13 18:13:47.947638
Total Rows Read: 65900000, Paired Rows: 3076174, Time: 2019-01-13 18:15:33.791087
Total Rows Read: 66000000, Paired Rows: 3082923, Time: 2019-01-13 18:17:23.083855
Total Rows Read: 66100000, Paired Rows: 3089403, Time: 2019-01-13 18:19:14.422260
Total Rows Read: 66200000, Paired Rows: 3095680, Time: 2019-01-13 18:20:48.986159
Total Rows Read: 66300000, Paired Rows: 3102103, Time: 2019-01-13 18:22:15.673929
Total Rows Read: 66400000, Paired Rows: 3108745, Time: 2019-01-13 18:23:36.969080
Total Rows Read: 66500000, Paired Rows: 3115563, Time: 2019-01-13 18:24:58.361542
Total Rows Read: 66600000, Paired Rows: 3122535, Time: 2019-01-13 18:26:21.281699
Total Rows Read: 66700000, Paired Rows: 3129735, Time: 2019-01-13 18:27:45.563023
Total Rows Read: 66800000, Paired Rows: 3137142, Time: 2019-01-13 18:29:18.156608
Total Rows Read: 66900000, Paired Rows: 3144486, Time: 2019-01-13 18:31:01.877551
Total Rows Read: 67000000, Paired Rows: 3151533, Time: 2019-01-13 18:32:41.859553
Total Rows Read: 67100000, Paired Rows: 3158624, Time: 2019-01-13 18:34:23.390867
Total Rows Read: 67200000, Paired Rows: 3165585, Time: 2019-01-13 18:35:55.220574
Total Rows Read: 67300000, Paired Rows: 3172668, Time: 2019-01-13 18:37:31.657953
Total Rows Read: 67400000, Paired Rows: 3180006, Time: 2019-01-13 18:39:07.338660
Total Rows Read: 67500000, Paired Rows: 3187189, Time: 2019-01-13 18:40:45.110295
Total Rows Read: 67600000, Paired Rows: 3194423, Time: 2019-01-13 18:42:21.922264
Total Rows Read: 67700000, Paired Rows: 3201545, Time: 2019-01-13 18:44:00.984577
Total Rows Read: 67800000, Paired Rows: 3208574, Time: 2019-01-13 18:45:35.156531
Total Rows Read: 67900000, Paired Rows: 3215699, Time: 2019-01-13 18:47:12.265504
Total Rows Read: 68000000, Paired Rows: 3222486, Time: 2019-01-13 18:48:48.875516
Total Rows Read: 68100000, Paired Rows: 3229184, Time: 2019-01-13 18:50:18.891610
Total Rows Read: 68200000, Paired Rows: 3235910, Time: 2019-01-13 18:51:49.719188
Total Rows Read: 68300000, Paired Rows: 3242609, Time: 2019-01-13 18:53:20.172019
Total Rows Read: 68400000, Paired Rows: 3249006, Time: 2019-01-13 18:54:53.548265
Total Rows Read: 68500000, Paired Rows: 3255391, Time: 2019-01-13 18:56:32.719726
Total Rows Read: 68600000, Paired Rows: 3261766, Time: 2019-01-13 18:58:16.424105
Total Rows Read: 68700000, Paired Rows: 3267531, Time: 2019-01-13 18:59:52.407959
Total Rows Read: 68800000, Paired Rows: 3273658, Time: 2019-01-13 19:01:48.336555
Total Rows Read: 68900000, Paired Rows: 3280121, Time: 2019-01-13 19:03:35.136608
Total Rows Read: 69000000, Paired Rows: 3286747, Time: 2019-01-13 19:05:19.567597
Total Rows Read: 69100000, Paired Rows: 3293314, Time: 2019-01-13 19:07:03.199005
Total Rows Read: 69200000, Paired Rows: 3299690, Time: 2019-01-13 19:08:41.861986
Total Rows Read: 69300000, Paired Rows: 3306474, Time: 2019-01-13 19:10:26.461767
Total Rows Read: 69400000, Paired Rows: 3313005, Time: 2019-01-13 19:12:11.659473
Total Rows Read: 69500000, Paired Rows: 3319767, Time: 2019-01-13 19:13:59.726089
Total Rows Read: 69600000, Paired Rows: 3326470, Time: 2019-01-13 19:15:42.104315
Total Rows Read: 69700000, Paired Rows: 3333141, Time: 2019-01-13 19:17:27.887351
Total Rows Read: 69800000, Paired Rows: 3339870, Time: 2019-01-13 19:19:08.549284
Total Rows Read: 69900000, Paired Rows: 3346689, Time: 2019-01-13 19:20:51.846127
Total Rows Read: 70000000, Paired Rows: 3353637, Time: 2019-01-13 19:22:40.976176
Total Rows Read: 70100000, Paired Rows: 3360592, Time: 2019-01-13 19:24:24.942180
Total Rows Read: 70200000, Paired Rows: 3367060, Time: 2019-01-13 19:26:07.703688
Total Rows Read: 70300000, Paired Rows: 3374037, Time: 2019-01-13 19:27:50.611241
Total Rows Read: 70400000, Paired Rows: 3380844, Time: 2019-01-13 19:29:38.842463
Total Rows Read: 70500000, Paired Rows: 3387754, Time: 2019-01-13 19:31:20.586389
Total Rows Read: 70600000, Paired Rows: 3394724, Time: 2019-01-13 19:33:02.035638
Total Rows Read: 70700000, Paired Rows: 3401417, Time: 2019-01-13 19:34:45.471804
Total Rows Read: 70800000, Paired Rows: 3408435, Time: 2019-01-13 19:36:29.149617
Total Rows Read: 70900000, Paired Rows: 3415504, Time: 2019-01-13 19:38:19.456587
Total Rows Read: 71000000, Paired Rows: 3421889, Time: 2019-01-13 19:40:07.652290
Total Rows Read: 71100000, Paired Rows: 3428202, Time: 2019-01-13 19:42:05.128688
Total Rows Read: 71200000, Paired Rows: 3434369, Time: 2019-01-13 19:44:08.458446
Total Rows Read: 71300000, Paired Rows: 3440640, Time: 2019-01-13 19:46:41.301291
Total Rows Read: 71400000, Paired Rows: 3446853, Time: 2019-01-13 19:49:14.553852
Total Rows Read: 71500000, Paired Rows: 3453365, Time: 2019-01-13 19:51:15.675320
Total Rows Read: 71600000, Paired Rows: 3460067, Time: 2019-01-13 19:53:22.079521
Total Rows Read: 71700000, Paired Rows: 3466888, Time: 2019-01-13 19:55:17.174729
Total Rows Read: 71800000, Paired Rows: 3473952, Time: 2019-01-13 19:57:07.262321
Total Rows Read: 71900000, Paired Rows: 3481055, Time: 2019-01-13 19:59:07.649398
Total Rows Read: 72000000, Paired Rows: 3487653, Time: 2019-01-13 20:01:10.656055
Total Rows Read: 72100000, Paired Rows: 3494156, Time: 2019-01-13 20:03:13.575600

Total Rows Read: 72200000, Paired Rows: 3500851, Time: 2019-01-13 20:05:14.226088
Total Rows Read: 72300000, Paired Rows: 3507314, Time: 2019-01-13 20:07:14.183198
Total Rows Read: 72400000, Paired Rows: 3513663, Time: 2019-01-13 20:09:11.040551
Total Rows Read: 72500000, Paired Rows: 3520408, Time: 2019-01-13 20:11:05.052316
Total Rows Read: 72600000, Paired Rows: 3527325, Time: 2019-01-13 20:13:03.336352
Total Rows Read: 72700000, Paired Rows: 3534243, Time: 2019-01-13 20:15:01.167022
Total Rows Read: 72800000, Paired Rows: 3541032, Time: 2019-01-13 20:16:57.066290
Total Rows Read: 72900000, Paired Rows: 3547631, Time: 2019-01-13 20:18:55.126212
Total Rows Read: 73000000, Paired Rows: 3554764, Time: 2019-01-13 20:21:05.504520
Total Rows Read: 73100000, Paired Rows: 3561806, Time: 2019-01-13 20:22:49.885626
Total Rows Read: 73200000, Paired Rows: 3568729, Time: 2019-01-13 20:24:33.367627
Total Rows Read: 73300000, Paired Rows: 3575444, Time: 2019-01-13 20:26:18.556873
Total Rows Read: 73400000, Paired Rows: 3582111, Time: 2019-01-13 20:27:57.360369
Total Rows Read: 73500000, Paired Rows: 3588835, Time: 2019-01-13 20:29:35.614271
Total Rows Read: 73600000, Paired Rows: 3595735, Time: 2019-01-13 20:31:21.507457
Total Rows Read: 73700000, Paired Rows: 3602620, Time: 2019-01-13 20:33:10.917666
Total Rows Read: 73800000, Paired Rows: 3609064, Time: 2019-01-13 20:34:54.267371
Total Rows Read: 73900000, Paired Rows: 3614690, Time: 2019-01-13 20:36:27.474048
Total Rows Read: 74000000, Paired Rows: 3620340, Time: 2019-01-13 20:37:52.779708
Total Rows Read: 74100000, Paired Rows: 3626429, Time: 2019-01-13 20:39:20.108324
Total Rows Read: 74200000, Paired Rows: 3633043, Time: 2019-01-13 20:40:53.893196
Total Rows Read: 74300000, Paired Rows: 3639773, Time: 2019-01-13 20:42:30.978653
Total Rows Read: 74400000, Paired Rows: 3646607, Time: 2019-01-13 20:44:08.146530
Total Rows Read: 74500000, Paired Rows: 3653708, Time: 2019-01-13 20:45:42.160088
Total Rows Read: 74600000, Paired Rows: 3660969, Time: 2019-01-13 20:47:34.391742
Total Rows Read: 74700000, Paired Rows: 3668377, Time: 2019-01-13 20:49:39.455906
Total Rows Read: 74800000, Paired Rows: 3675674, Time: 2019-01-13 20:51:41.400356
Total Rows Read: 74900000, Paired Rows: 3682911, Time: 2019-01-13 20:53:28.189798
Total Rows Read: 75000000, Paired Rows: 3690338, Time: 2019-01-13 20:55:23.041021
Total Rows Read: 75100000, Paired Rows: 3697649, Time: 2019-01-13 20:57:11.594081
Total Rows Read: 75200000, Paired Rows: 3704934, Time: 2019-01-13 20:59:04.290558
Total Rows Read: 75300000, Paired Rows: 3712361, Time: 2019-01-13 21:00:49.229252
Total Rows Read: 75400000, Paired Rows: 3719873, Time: 2019-01-13 21:03:09.948564
Total Rows Read: 75500000, Paired Rows: 3727211, Time: 2019-01-13 21:05:05.418547
Total Rows Read: 75600000, Paired Rows: 3734605, Time: 2019-01-13 21:07:04.577684
Total Rows Read: 75700000, Paired Rows: 3741985, Time: 2019-01-13 21:09:09.957794
Total Rows Read: 75800000, Paired Rows: 3749176, Time: 2019-01-13 21:10:59.443730
Total Rows Read: 75900000, Paired Rows: 3756315, Time: 2019-01-13 21:12:56.298365
Total Rows Read: 76000000, Paired Rows: 3763089, Time: 2019-01-13 21:14:50.721112
Total Rows Read: 76100000, Paired Rows: 3769566, Time: 2019-01-13 21:16:48.607795
Total Rows Read: 76200000, Paired Rows: 3776165, Time: 2019-01-13 21:18:35.852321
Total Rows Read: 76300000, Paired Rows: 3783034, Time: 2019-01-13 21:20:28.868937
Total Rows Read: 76400000, Paired Rows: 3789838, Time: 2019-01-13 21:22:38.184030
Total Rows Read: 76500000, Paired Rows: 3796804, Time: 2019-01-13 21:24:56.934627
Total Rows Read: 76600000, Paired Rows: 3803658, Time: 2019-01-13 21:27:05.676385
Total Rows Read: 76700000, Paired Rows: 3810206, Time: 2019-01-13 21:29:14.836988
Total Rows Read: 76800000, Paired Rows: 3816484, Time: 2019-01-13 21:31:25.456089
Total Rows Read: 76900000, Paired Rows: 3822758, Time: 2019-01-13 21:33:26.670434
Total Rows Read: 77000000, Paired Rows: 3829211, Time: 2019-01-13 21:35:19.721272
Total Rows Read: 77100000, Paired Rows: 3836115, Time: 2019-01-13 21:37:06.752958
Total Rows Read: 77200000, Paired Rows: 3843111, Time: 2019-01-13 21:38:50.262954
Total Rows Read: 77300000, Paired Rows: 3850130, Time: 2019-01-13 21:40:34.087027
Total Rows Read: 77400000, Paired Rows: 3857317, Time: 2019-01-13 21:42:17.206013
Total Rows Read: 77500000, Paired Rows: 3864700, Time: 2019-01-13 21:44:08.804359
Total Rows Read: 77600000, Paired Rows: 3872218, Time: 2019-01-13 21:46:00.889010
Total Rows Read: 77700000, Paired Rows: 3879738, Time: 2019-01-13 21:48:04.882140
Total Rows Read: 77800000, Paired Rows: 3887419, Time: 2019-01-13 21:49:50.362203
Total Rows Read: 77900000, Paired Rows: 3894970, Time: 2019-01-13 21:51:07.709030
Total Rows Read: 78000000, Paired Rows: 3902551, Time: 2019-01-13 21:52:22.880280
Total Rows Read: 78100000, Paired Rows: 3910198, Time: 2019-01-13 21:53:40.086407
Total Rows Read: 78200000, Paired Rows: 3917720, Time: 2019-01-13 21:54:54.667987
Total Rows Read: 78300000, Paired Rows: 3925368, Time: 2019-01-13 21:56:13.413274
Total Rows Read: 78400000, Paired Rows: 3932904, Time: 2019-01-13 21:57:31.358886
Total Rows Read: 78500000, Paired Rows: 3940306, Time: 2019-01-13 21:58:49.667301
Total Rows Read: 78600000, Paired Rows: 3947707, Time: 2019-01-13 22:00:10.689966
Total Rows Read: 78700000, Paired Rows: 3954951, Time: 2019-01-13 22:01:39.434415
Total Rows Read: 78800000, Paired Rows: 3962158, Time: 2019-01-13 22:03:04.959979
Total Rows Read: 78900000, Paired Rows: 3969406, Time: 2019-01-13 22:04:26.147455
Total Rows Read: 79000000, Paired Rows: 3976556, Time: 2019-01-13 22:06:19.156779
Total Rows Read: 79100000, Paired Rows: 3983484, Time: 2019-01-13 22:08:22.865429
Total Rows Read: 79200000, Paired Rows: 3990304, Time: 2019-01-13 22:10:24.760086
Total Rows Read: 79300000, Paired Rows: 3997323, Time: 2019-01-13 22:12:26.355730
Total Rows Read: 79400000, Paired Rows: 4004711, Time: 2019-01-13 22:15:01.518504
Total Rows Read: 79500000, Paired Rows: 4011954, Time: 2019-01-13 22:17:09.620583
Total Rows Read: 79600000, Paired Rows: 4018615, Time: 2019-01-13 22:19:06.916719
Total Rows Read: 79700000, Paired Rows: 4025401, Time: 2019-01-13 22:21:08.605646
Total Rows Read: 79800000, Paired Rows: 4031614, Time: 2019-01-13 22:22:53.838068
Total Rows Read: 79900000, Paired Rows: 4037774, Time: 2019-01-13 22:24:55.090127
Total Rows Read: 80000000, Paired Rows: 4043966, Time: 2019-01-13 22:26:57.372920
Total Rows Read: 80100000, Paired Rows: 4050588, Time: 2019-01-13 22:28:58.542159
Total Rows Read: 80200000, Paired Rows: 4057355, Time: 2019-01-13 22:30:47.211340
Total Rows Read: 80300000, Paired Rows: 4064523, Time: 2019-01-13 22:32:29.744981
Total Rows Read: 80400000, Paired Rows: 4071750, Time: 2019-01-13 22:34:15.672251
Total Rows Read: 80500000, Paired Rows: 4078931, Time: 2019-01-13 22:35:53.584550
Total Rows Read: 80600000, Paired Rows: 4086323, Time: 2019-01-13 22:37:40.676854
Total Rows Read: 80700000, Paired Rows: 4093617, Time: 2019-01-13 22:39:46.992733
Total Rows Read: 80800000, Paired Rows: 4100992, Time: 2019-01-13 22:41:36.302513
Total Rows Read: 80900000, Paired Rows: 4108319, Time: 2019-01-13 22:43:39.741932
Total Rows Read: 81000000, Paired Rows: 4115642, Time: 2019-01-13 22:45:24.322258
Total Rows Read: 81100000, Paired Rows: 4123069, Time: 2019-01-13 22:47:08.081308
Total Rows Read: 81200000, Paired Rows: 4130300, Time: 2019-01-13 22:48:56.596211
Total Rows Read: 81300000, Paired Rows: 4137529, Time: 2019-01-13 22:50:36.223651
Total Rows Read: 81400000, Paired Rows: 4144775, Time: 2019-01-13 22:52:51.459907
Total Rows Read: 81500000, Paired Rows: 4152131, Time: 2019-01-13 22:54:40.406028
Total Rows Read: 81600000, Paired Rows: 4159369, Time: 2019-01-13 22:56:29.267516
Total Rows Read: 81700000, Paired Rows: 4166845, Time: 2019-01-13 22:58:31.251460
Total Rows Read: 81800000, Paired Rows: 4174289, Time: 2019-01-13 23:00:36.846798
Total Rows Read: 81900000, Paired Rows: 4181428, Time: 2019-01-13 23:02:56.179631
Total Rows Read: 82000000, Paired Rows: 4188740, Time: 2019-01-13 23:05:12.764988
Total Rows Read: 82100000, Paired Rows: 4195761, Time: 2019-01-13 23:07:18.539947

Total Rows Read: 82200000, Paired Rows: 4202770, Time: 2019-01-13 23:09:28.214413
Total Rows Read: 82300000, Paired Rows: 4209652, Time: 2019-01-13 23:11:35.840402
Total Rows Read: 82400000, Paired Rows: 4216519, Time: 2019-01-13 23:13:42.635384
Total Rows Read: 82500000, Paired Rows: 4223494, Time: 2019-01-13 23:15:50.666474
Total Rows Read: 82600000, Paired Rows: 4230577, Time: 2019-01-13 23:17:59.537952
Total Rows Read: 82700000, Paired Rows: 4237492, Time: 2019-01-13 23:19:59.367660
Total Rows Read: 82800000, Paired Rows: 4244289, Time: 2019-01-13 23:21:59.636921
Total Rows Read: 82900000, Paired Rows: 4250926, Time: 2019-01-13 23:24:06.605333
Total Rows Read: 83000000, Paired Rows: 4257246, Time: 2019-01-13 23:26:12.033922
Total Rows Read: 83100000, Paired Rows: 4263655, Time: 2019-01-13 23:28:10.025558
Total Rows Read: 83200000, Paired Rows: 4270413, Time: 2019-01-13 23:30:06.582888
Total Rows Read: 83300000, Paired Rows: 4277332, Time: 2019-01-13 23:32:04.222168
Total Rows Read: 83400000, Paired Rows: 4284452, Time: 2019-01-13 23:33:56.961632
Total Rows Read: 83500000, Paired Rows: 4291726, Time: 2019-01-13 23:35:48.865362
Total Rows Read: 83600000, Paired Rows: 4299024, Time: 2019-01-13 23:37:40.437622
Total Rows Read: 83700000, Paired Rows: 4306576, Time: 2019-01-14 20:40:21.699818
Total Rows Read: 83800000, Paired Rows: 4314167, Time: 2019-01-14 20:45:28.875754
Total Rows Read: 83900000, Paired Rows: 4321617, Time: 2019-01-14 20:49:40.539035
Total Rows Read: 84000000, Paired Rows: 4329423, Time: 2019-01-14 20:53:16.592943
Total Rows Read: 84100000, Paired Rows: 4337079, Time: 2019-01-14 20:56:11.419900
Total Rows Read: 84200000, Paired Rows: 4344816, Time: 2019-01-14 20:58:51.572940
Total Rows Read: 84300000, Paired Rows: 4352334, Time: 2019-01-14 21:01:39.138783
Total Rows Read: 84400000, Paired Rows: 4359850, Time: 2019-01-14 21:03:54.792694
Total Rows Read: 84500000, Paired Rows: 4367507, Time: 2019-01-14 21:06:09.088109
Total Rows Read: 84600000, Paired Rows: 4374942, Time: 2019-01-14 21:08:14.625185
Total Rows Read: 84700000, Paired Rows: 4382416, Time: 2019-01-14 21:10:23.521664
Total Rows Read: 84800000, Paired Rows: 4389895, Time: 2019-01-14 21:12:24.257791
Total Rows Read: 84900000, Paired Rows: 4397217, Time: 2019-01-14 21:14:25.746185

# After the database has been setup

 Now time for some preprocessing of Question and Answer pair

In [7]:
timeframes = ['2017-11']

for t in timeframes:
    connection = sqlite3.connect('{}.db'.format(t))
    c = connection.cursor()
    limit = 50000
    last_unix = 0
    cur_length = limit
    counter = 0
    test_done = False
    while cur_length == limit:
        df = pd.read_sql("""SELECT * FROM parent_reply WHERE unix > {} 
        AND parent NOT NULL AND score > 0 ORDER BY unix ASC LIMIT {}""".format(last_unix, limit), connection)
        last_unix = df.tail(1)['unix'].values[0]
        cur_length = len(df)
        if not test_done:
            with open("test.from", 'a', encoding = 'utf8') as f:
                for content in df['parent'].values:
                    f.write(content + '\n')
            with open("test.to", 'a', encoding = 'utf8') as f:
                for content in df['comment'].values:
                    f.write(content + '\n')
            test_done = True
        else:
            with open("train.from", 'a', encoding = 'utf8') as f:
                for content in df['parent'].values:
                    f.write(content + '\n')
            with open("train.to", 'a', encoding = 'utf8') as f:
                for content in df['comment'].values:
                    f.write(content + '\n')
            test_done = True
        counter +=1
        if counter% 20 == 0:
            print(counter*limit, 'rows completed so far')

1000000 rows completed so far
2000000 rows completed so far
3000000 rows completed so far
4000000 rows completed so far
5000000 rows completed so far